<!-- ----------------- HEADER -------------------- -->

<app-header></app-header>

<!-- ----------------- END OF HEADER -------------------- -->

<div class="main-container">

<!-- ----------------- NAVIGATION  -------------------- -->
  
  <app-toolbar></app-toolbar>

   <!-- ----------------- END OF NAVIGATION -------------------- -->

    <!-- -------------- BODY WITH ARTICLES ------------------- -->

  <app-main></app-main>

   <!-- ----------------- END OF BODY  -------------------- -->
</div>

<!-- ----------------- FOOTER -------------------- -->

<app-footer></app-footer>

<!-- ----------------- END OF FOOTER -------------------- -->