<main id="main-content">
  
    <article class="card roboto">
        <div class="first-row">
            <h2 class="name">Roboto</h2>
            <button class="btn-round">
                <fa-icon [icon]="['fas', 'plus-circle']"></fa-icon>
            </button>                    
        </div>
        <h3 class="author">Christian Robertson</h3>
        <div class="text">
            <p>All their equipment and instruments are alive.</p>
        </div>                
    </article>
    <article class="card sriracha">
        <div class="first-row">
            <h2 class="name">Sriracha</h2>
            <button class="btn-round">
                <fa-icon [icon]="['fas', 'plus-circle']"></fa-icon>
            </button>                    
        </div>
        <h3 class="author">Cadson Demak</h3>
        <div class="text">
            <p>My two natures had memory in common.</p>
        </div>                
    </article>
    <article class="card zhi-mang">
        <div class="first-row">
            <h2 class="name">Zhi Mang Xing</h2>
            <button class="btn-round">
                <fa-icon [icon]="['fas', 'plus-circle']"></fa-icon>
            </button>                    
        </div>
        <h3 class="author">Wei Zhimang</h3>
        <div class="text">
            <p>All their equipment and instruments are alive.</p>
        </div>                
    </article>
    <article class="card lemonada">
        <div class="first-row">
            <h2 class="name">Lemonada</h2>
            <button class="btn-round">
                <fa-icon [icon]="['fas', 'plus-circle']"></fa-icon>
            </button>                    
        </div>
        <h3 class="author">Multiple Designers</h3>
        <div class="text">
            <p>The recorded voice scratched in the speaker.</p>
        </div>                
    </article>

    <article class="card open-sans">
        <div class="first-row">
            <h2 class="name">Open Sans</h2>
            <button class="btn-round">
                <fa-icon [icon]="['fas', 'plus-circle']"></fa-icon>
            </button>
        </div>
        <h3 class="author">Steve Matteson</h3>
        <p class="text">I watched the storm, so beautiful yet terrific.</p>
    </article>

    <article class="card lato">
        <div class="first-row">
            <h2 class="name">Lato</h2>
            <button class="btn-round">
                <fa-icon [icon]="['fas', 'plus-circle']"></fa-icon>
            </button>
        </div>
        <h3 class="author">Łukasz Dziedzic</h3>
        <p class="text">Almost before we knew it, we had left the ground.</p>
    </article>

    <article class="card montserrat">
        <div class="first-row">
            <h2 class="name">Montserrat</h2>
            <button class="btn-round">
                <fa-icon [icon]="['fas', 'plus-circle']"></fa-icon>
            </button>
        </div>
        <h3 class="author">Juieta Ulanovsky, sol Matas, Juan pablo dle Peral, Jacques Le Bailly</h3>
        <p class="text">It was going to be a lonely trip back.</p>
    </article>

    <article class="card source-sans-pro">
        <div class="first-row">
            <h2 class="name">Source Sans Pro</h2>
            <button class="btn-round">
                <fa-icon [icon]="['fas', 'plus-circle']"></fa-icon>
            </button>
        </div>
        <h3 class="author">Paul D.Hunt</h3>
        <p class="text">My two natures had memory in common.</p>
    </article>

    <article class="card roboto-condensed">
        <div class="first-row">
            <h2 class="name">Roboto Condensed</h2>
            <button class="btn-round">
                <fa-icon [icon]="['fas', 'plus-circle']"></fa-icon>
            </button>
        </div>
        <h3 class="author">Christian Robertson</h3>
        <p class="text">Silver mist suffused the deck of the ship.</p>
    </article>

    <article class="card oswald">
        <div class="first-row">
            <h2 class="name">Oswald</h2>
            <button class="btn-round">
                <fa-icon [icon]="['fas', 'plus-circle']"></fa-icon>
            </button>
        </div>
        <h3 class="author">Vernon Adams, Kalapi Gajjar, Cyreal</h3>
        <p class="text">The face of the moon was in shadow.</p>
    </article>

    <article class="card raleway">
        <div class="first-row">
            <h2 class="name">Raleway</h2>
            <button class="btn-round">
                <fa-icon [icon]="['fas', 'plus-circle']"></fa-icon>
            </button>
        </div>
        <h3 class="author">Multiple Designers</h3>
        <p class="text">She stared through the window at the stars.</p>
    </article>
    
</main>
